ENV=development

# ----------
# Line Channel
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

# ----------
# [redis]
# [[local]]
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=15
REDIS_SSL=false
